.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    border-radius: 5px;
    padding: 2em;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #loginHeader {
    color: rgb(82, 162, 185);
    margin-bottom: 2rem;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .input-group .pi {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #495057;
  }
  
  .input-group input {
    padding-left: 2.5rem;
    width: 100%;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }