<div class="login-container">
  <p-toast position="top-center"></p-toast>
  <div class="card">
    <h2 id="loginHeader">Sign in</h2>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="login-form">
      <div class="input-group">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input type="text" id="username" pInputText [(ngModel)]="value" name="username" required pInputText
            placeholder="Username" />
        </p-inputGroup>
      </div>
      <button type="submit" pButton label="Sign In" class="login-btn"></button>
    </form>
    <div>
    </div>
  </div>
</div>